.container {
  max-width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
}

.inbox-people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.inbox-msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top-spac {
  margin: 20px 0 0;
}

.recent-heading {
  float: left;
  width: 40%;
}

.srch-bar {
  display: inline-block;
  text-align: right;
  width: 100%;
  padding: 15px;
}

.headind-srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent-heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch-bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 100%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch-bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch-bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat-ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat-ib h5 span {
  font-size: 13px;
  float: right;
}

.chat-ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.chat-img {
  float: left;
  width: 11%;
}

.chat-ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat-people {
  overflow: hidden;
  clear: both;
}

.chat-list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox-chat {
  height: 550px;
  overflow-y: scroll;
}

.active-chat {
  background: #ebebeb;
}

.incoming-msg-img {
  display: inline-block;
  width: 6%;
}

.received-msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received-withd-msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time-date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received-withd-msg {
  width: 57%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent-msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing-msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent-msg {
  float: right;
  width: 46%;
}

.input-msg-write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type-msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg-send-btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg-history {
  height: 516px;
  overflow-y: auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type='text'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
